[submodule "s2protocol"]
	path = s2protocol
	url = https://github.com/Blizzard/s2protocol.git
[submodule "stormlib"]
	path = stormlib
	url = https://github.com/ladislav-zezula/StormLib.git
[submodule "httplib"]
	path = httplib
	url = https://github.com/yhirose/cpp-httplib.git
